./replyio_reference
/replyio_reference/*
replyio_reference/

new_user_onboarding_pages_refference/
/new_user_onboarding_pages_refference/*
supabase/
/supabase/*
.env/
.env*
__pycache__/
*.pyc
.venv/
node_modules/
venv/

/doc/
/doc/*
doc/

/sql_referrence/
/sql_referrence/*
sql_referrence/

/reference/
reference/*
/reference